<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
  <header><% include ./partials/_header %></header>
  <!-- check if user is logged in, then display list of links belonging to the user. Each link has a delete, edit button-->
  <% if (user){ %>
    <h3>My URLs</h3>
    <%for (let element in urls){%>
      <lable><strong><%= element %> :</strong> <%= urls[element].longURL%></lable>   
      <form method="GET" action="/urls/<%=element%>">
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
      <form method="POST" action="/urls/<%= element %>/delete">
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>    
    <%}%>
  <%} else {%>
    <p>Please <a href = "/login">Login</a> or <a href = "/register">Register</a></p>
  <%}%>
</body>
</html>
  
    

  

